body {
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    background-color: lightblue;
    background-size: cover;
    background-repeat: no-repeat;
    margin: 0;
    padding: 0;
    color: black;
    font-size: 24px; /* Adjust the font size as desired */
    font-weight: bold; /* Increase the font weight for better visibility */
}

h1 {
    margin-top: 30px;
    color: black;
}

#question {
    margin-top: 30px;
    font-size: 30px;
    color: black;
}

#question-button, #submit-button, #save-button {
    margin-top: 30px;
    padding: 12px 24px;
    font-size: 18px;
    border: none;
    background-color: #00adb5;
    color: black;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s;
}

#question-button:hover, #submit-button:hover, #save-button:hover {
    background-color: #009ba3;
}

#answer-input {
    width: 30%;
    margin-top: 30px;
    padding: 15px;
    font-size: 18px;
    border-radius: 5px;
    border: 2px solid white;
}

#feedback, #saved-answer {
    margin-top: 30px;
    font-size: 24px;
    color: black;
}

#hint-button {
    display: none;
    margin-top: 20px;
}

#save-button {
    display: none;
}
